html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

a {
    color: black;
}

p {
    color: black;
    font-size: 22px;
}

.header {
    height: 100%;
    text-align: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-color: lightblue;
    color: black;
    display: grid;
    justify-content: center;
}

#logo {
    margin-left: 10px;
    width: 15%;
}

a {
    margin-left: 30px;
}

.Boxes {
    display: flex;
    height: 100%;
    width: 100%;
}

.Boxes p {
    float: left;
    margin-top: 140px;
    font-size: 25px;
    color: black;
}

.CoreProducts {
    margin-top: 10px;
    height: 500px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: bisque;
    color: black;
}

.CoreProducts h1 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.CoreProducts div {
    display: flex;
    justify-content: center;
    height: 150%;
    width: 80%;
}

.CoreProducts img {
    height: 50%;
    width: 50%;
}

.ProductsoftheWeek {
    margin-top: 10px;
    margin-left: 10px;
    height: 500px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: burlywood;
    color: black;
}

.ProductsoftheWeek h1 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.ProductsoftheWeek div {
    display: flex;
    justify-content: center;
    height: 100%;
}

.ProductsoftheWeek img {
    float: center;
    height: 75%;
    width: 70%;
}

.OurFabrics {
    margin-top: 10px;
    height: 500px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: lightblue;
    color: black;
}

.OurFabrics h1 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.OurFabrics h2 {
    margin-left: 10px;
}

.OurFabrics div {
    display: flex;
    justify-content: center;
    height: 80%;
}

.OurFabrics img {
    height: 85%;
    width: 90%;
}

.Quiz {
    margin-top: 10px;
    margin-left: 10px;
    height: 500px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: lightgoldenrodyellow;
    color: black;
}

.Quiz h1 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.Quiz h2 {
    margin-left: 10px;
}

.Quiz div {
    display: flex;
    justify-content: center;
    height: 100%;
}

.Quiz img {
    height: 70%;
    width: 70%;
}

.footer {
    background-color: burlywood;
    text-align: center;
}

@media screen and (max-width: 820px) {

    .Boxes {
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .CoreProducts {
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .ProductsoftheWeek {
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        height: 100%;
        width: 100%;
    }

    .OurFabrics {
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .Quiz {
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        height: 100%;
        width: 100%;
    }
}