html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

a {
    color: black;
}

p {
    color: black;
    font-size: 22px;
}

.header {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    height: 100%;
    text-align: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-color: lightblue;
    color: black;
    display: grid;
    justify-content: center;
}

#logo {
    margin-left: 10px;
    width: 15%;
}

.nav {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 25px;
}

a {
    margin-left: 30px;
}

.Boxes {
    display: flex;
}

.Boxes p {
    float: left;
    margin-top: 140px;
    margin-left: 10px;
    font-size: 25px;
    color: black;
}

.CoreProducts {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 500px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: bisque;
    color: black;
}

.CoreProducts h1 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.CoreProducts img {
    float: right;
    margin-right: 37px;
    height: 400px;
    width: 300px;
}

.ProductsoftheWeek {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    height: 500px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: burlywood;
    color: black;
}

.ProductsoftheWeek h1 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.ProductsoftheWeek img {
    float: center;
    margin-left: 200px;
    height: 375px;
    width: 300px;
}

.OurFabrics {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 500px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: lightblue;
    color: black;
}

.OurFabrics h1 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.OurFabrics img {
    float: right;
    margin-right: 45px;
    height: 410px;
    width: 400px;
}

.Quiz {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    height: 500px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: lightgoldenrodyellow;
    color: black;
}

.Quiz h1 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.Quiz img {
    float: right;
    margin-right: 33px;
    height: 350px;
    width: 350px;
}

.footer {
    margin-left: 10px;
    margin-right: 10px;
    background-color: burlywood;
    text-align: center;
}